/* #modalDelete {
    z-index:100000;
  }

  #modalCreateEdit {
        color: rgb(42, 52, 185);
      position: absolute;
    top: 20px;
  left: 20px;
  background: blue;
  }

  .modal {
    position: absolute;
    top: 1000px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;

 } */